@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #302E2B;
  --foreground: #dedede;

  --foregroundHighlighted: #ffffff;
  --foregroundGrey: #939291;

  --placeholder: #9e9d9c;

  --backgroundBox: #262522;
  --backgroundBoxHover: #21201e;
  --backgroundBoxBox: #3c3b39;
  --backgroundBoxBoxHover: #5d5d5d;
  --backgroundBoxBoxHighlighted: #81b64c;
  --backgroundBoxBoxHighlightedHover: #8bc550;
  --backgroundWhiteClock: #f6f6f6;
  --backgroundBlackClock: #1e1d1c;

  --foregroundProfileWhite: #ffffff;
  --foregroundProfileBlack: #1d1c1a;
  --backgroundProfileWhite: #dbd9d6;
  --backgroundProfileBlack: #474542;

  --evaluationBarWhite: #ffffff;
  --evaluationBarBlack: #403d39;

  --border: #5d5d5d;
  --borderHighlighted: #949494;

  --blackBoard: #779556;
  --whiteBoard: #ebecd0;
  --highlightBoard: #ffff33;

  --shadowBoxBoxHighlighted: 0 0 8px;

  --borderRoundness: .25rem;
  --borderExtraRoundness: .5rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
