@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #302E2B;
  --foreground: #dedede;

  --foregroundHighlighted: #ffffff;
  --foregroundGrey: #939291;

  --backgroundBox: #262522;
  --backgroundBoxHover: #21201e;

  --blackBoard: #779556;
  --whiteBoard: #ebecd0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
